:root {
  --header-height: 80px;
  --page-spacing: 60px;
  --icon-size: 24px;

  @include breakpoint(tab-down) {
    --page-spacing: 30px;
  }

  @include breakpoint(mob-down) {
    --page-spacing: 20px;
  }
}