body {
  background-image: url(https://abstractn.github.io/res/imgs/bg/abs_bg-blur.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 22px;
  display: flex;
  flex-direction: column;

  /*@include breakpoint(tab-down) {
    background-size: 150%;
  }*/
  
  @include breakpoint(mob-down) {
    background-size: cover;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}