[data-abs-component="PageComponent"] {
  position: relative;
  padding-left: var(--page-spacing);
  padding-right: var(--page-spacing);

  #main-body {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    @include breakpoint(tab-down) {
      --image-size: 275px;
      gap: 30px;
    }

    @include breakpoint(mob-down) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 60px;
    }
  }
}